.popup__input-container {
  width: 45%;
  margin: 0 1rem 2rem;
}

@media (max-width: 650px) {
  .popup__input-container{
    width: 100%;
    margin: 0 0 1.5rem;
  }
}

.popup__input-container_max {
  width: 100%;
}