
.tiles {
  position: relative;
}
@media (max-width: 768px) {
  .tiles {
    overflow-x: scroll;
    width: 100%;
  }
}

.tiles--oneline {
	min-height: 250px;
	margin: 72px 0 0;
}

.tiles__wrap {
	width: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate3d(-50%,-50%, 0);
}

.tiles--rotated .tiles__wrap {
	--tileswrap-height: calc(var(--tiles-height) * 1.8);
	transform: translate3d(-50%,-50%, 0) rotate(22.5deg);
}

.tiles--columns-rotated .tiles__wrap {
	width: 100%;
	display: flex;
	transform: translate3d(-50%,-50%,0) rotate(-22.5deg);
	left: 50%;
	top: 50%;
	align-items: center;
	justify-content: center;
}
@media (max-width: 768px) {
.tiles--columns-rotated .tiles__wrap {
	align-items: flex-start;
	justify-content: flex-start;
  }
}

.tiles--columns .tiles__wrap {
	width: 100%;
	display: flex;
	--tileswrap-height: calc(var(--tiles-height) * 1.4);
	transform: translate3d(0,-50%,0);
	left: 0;
	top: 50%;
}

.tiles--perspective .tiles__wrap {
	width: 100%;
    transform: translate3d(-50%,-50%,0) translateX(-25%) translateZ(-1200px) rotateX(75.5deg) rotateZ(12deg);
}

.tiles--fixed .tiles__wrap {
	width: 100%;
}

.tiles__line {
	display: flex;
  justify-content: center;
}
@media (max-width: 768px) {
  .tiles__line {
    align-items: flex-start;
    justify-content: flex-start;
  }
}

.tiles--columns .tiles__line {
	width: 25%;
	padding: 0 1rem;
	display: block;
}

.tiles--columns-rotated .tiles__line {
	width: 320px;
	flex: none;
	padding: 0 1.5vw;
	display: block;
}

.tiles--columns-rotated .tiles__line:nth-child(even) {
	margin-top: -160px;
}

.tiles--oneline .tiles__line {
	height: 250px;
}

.tiles--small .tiles__line {
	height: 250px;
}

.tiles__line-img {
	--tile-margin: 100px;
	flex: none;
	width: 385px;
	height: 218px;
	cursor: url(../../images/decorative/cursor.png) 43 43, pointer;
	object-fit: cover;
	object-position: center;
}

.tiles__line-img:hover {
	transform: rotate(-5deg);
}

.tiles--perspective .tiles__line-img {
	backface-visibility: hidden;
	outline: 1px solid transparent;
	--tile-margin: 1vw;
	width: calc(16.6666% - var(--tile-margin) * 2);
}

.tiles--oneline .tiles__line-img {
	margin: 0 50px;
}
@media (max-width: 768px) {
  .tiles--oneline .tiles__line-img {
    margin: 1rem;
    width: 30%;
  }
}
