
.slider {
  position: relative;
  max-width: 495px;
  max-height: 564px;
}

.slider__images {
  list-style-type: none;
  list-style-position: inside;
  padding: 0;
  width: 495px;
  height: 564px;
}

.slider__item {
  position: relative;
  display: none;
}

.slider__img {
  width: 495px;
  height: 564px;
  object-fit: cover;
  filter: brightness(50%);
  display: inherit;
}

.slider__part-img {
  width: 80px;
  height: 360px;
  position: fixed;
  right: 200px;
  top: 360px;
  object-position: center;
  object-fit: cover;
}

.slider__text {
  font-size: 1.125rem;
  color: #ffffff;
  position: absolute;
  left: 2.5rem;
  bottom: 5.75rem;
  margin: 0;
  z-index: 2;
  display: inherit;
}

.slider__title {
  font-size: 2.25rem;
  color: #ffffff;
  position: absolute;
  left: 2.5rem;
  bottom: 2.5rem;
  margin: 0;
  z-index: 2;
  display: inherit;
}

@media (max-width: 1439px) {
  .slider__img, .slider__images {
    width: 396px;
    height: 452px;
  }
  .slider__part-img {
    right: 150px;
    height: 288px;
  }
  .slider__title {
    font-size: 2rem;
    left: 2rem;
    bottom: 2rem;
    margin: 0;
  }
  .slider__text {
    font-size: 1rem;
    left: 2rem;
    bottom: 4.75rem;
  }
}

@media (max-width: 1000px) {
  .slider__img, .slider__images {
    width: 356px;
    height: 406px;
  }
  .slider {
    width: 356px;
    margin: auto;
  }
}

.slider__item {
  display: none;
}
.current {
  display: block;
}

@media (max-width: 450px) {
  .slider__img, .slider__images {
    width: 285px;
    height: 324px;
  }
  .slider {
    width: 285px;
    margin: auto;
  }
}

@media (max-width: 350px) {
  .slider__img, .slider__images {
    width: 256px;
    height: 291px;
  }
  .slider {
    width: 256px;
    margin: auto;
  }
}
@media (max-width: 1024px) {
  .slider__part-img {
    display: none;
  }
}

.slider__caption {
  display: flex;
  justify-content: space-between;
}

.slider__container {
  display: flex;
  align-items: center;
}

.slider__icon {
  margin-right: 1.5rem;
}

.slider__number {
  font-weight: bold;
  font-size: 1.125rem;
}

.slider__progress {
  margin: 0 .5rem;
  display: flex;
  background-color: #D4D9E1;
  position: relative;
	height: 4px;
	width: 100px;
}

.slider__progress-done {
  background-color: #000000;
  display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 0;
  opacity: 1;
	transition: 1s ease 0.3s;
}