
.infographics {
  background-color: #F4F4F6;
  background-image: url(../../images/decorative/divider-top.svg), url(../../images/decorative/divider-bottom.svg);
  background-position: top left, bottom left;
  background-size: 100%;
  background-repeat: no-repeat;
  box-sizing: border-box;
  padding: 5rem 0;
}

.infographics__title {
  font-size: 3rem;
  font-weight: bold;
  margin-top: 5%;
  margin-bottom: 0;
}

.infographics__container {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-column-gap: 5%;
  grid-row-gap: 2rem;
  padding-top: 2rem;
  padding-bottom: 8.125rem;
  margin: 0;
}

.infographics__subtitle {
  margin: 0 0 1.25rem;
}

.infographics__text {
  margin: 0;
  text-align: justify;
}

@media (max-width: 1439px) {
  .infographics {
    padding: 2rem 0;
  }
  .infographics__container {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

@media (max-width: 1150px) {
  .infographics__subtitle {
    min-height: 3rem;
  }
}

@media (max-width: 768px) {
  .infographics__title {
    font-size: 2rem;
    margin: 1rem 0;
    text-align: center;
  }
  .infographics__subtitle {
   text-align: center;
  }
  .infographics__container {
    padding-top: 0;
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .infographics__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .infographics__subtitle {
    min-height: 1.5rem;
  }
  .infographics__img {
    align-self: center;
  }
  .infographics__subtitle {
    min-height: fit-content;
    margin: .5rem 0;
  }
}