
.infographics {
  background-color: #F4F4F6;
  background-image: url(../../images/decorative/divider-top.svg), url(../../images/decorative/divider-bottom.svg);
  background-position: top left, bottom left;
  background-size: 100%;
  background-repeat: no-repeat;
  box-sizing: border-box;
  padding: 5rem 0;
}

.infographics__title {
  font-size: 3rem;
  font-weight: bold;
  max-width: 60%;
  margin-top: 5%;
  margin-bottom: 0;
}

.infographics__container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 2rem;
  padding-bottom: 8.125rem;
}

.infographics__card {
  width: 28%;
  margin: 2rem 7rem 0 0;
}
.infographics__card:nth-of-type(3) {
  margin-right: 0;
}

.infographics__subtitle {
  margin: 0 0 1.25rem;
}

.infographics__text {
  margin: 0;
  text-align: justify
}

@media (max-width: 1439px) {
  .infographics {
    padding: 2rem 0;
  }
  .infographics__container {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .infographics__card {
    margin-right: 3.5rem;
  }
}

@media (max-width: 1221px) {
  .infographics__subtitle {
    min-height: 3rem;
  }
}

@media (max-width: 768px) {
  .infographics__title {
    font-size: 2rem;
    max-width: 100%;
    text-align: center;
    margin: 1rem 0;
  }
  .infographics__subtitle {
   text-align: center;
  }
  .infographics__container {
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .infographics__card {
    width: 100%;
    margin: .5rem 0;
  }
  .infographics__subtitle {
    min-height: 1.5rem;
  }
  .infographics__img {
    margin: 0 50%;
  }
}

.infographics__card:last-of-type {
  margin-right: 0;
}