@import url(./body/body.css);
@import url(./container-horizontal/container-horizontal.css);
@import url(./header.css);
@import url(./popup/popup.css);
@import url(./button.css);
@import url(./root/root.css);
@import url(./footer/footer.css);
@import url(./mixins/mixins.css);
@import url(./span/span.css);

@font-face {
  font-family: Geometria;
  font-style:  normal;
  font-weight: 700;
  src: url("../fonts/Geometria-Bold.woff") format("woff");
}
@font-face {
  font-family: Geometria;
  font-style:  normal;
  font-weight: 400;
  src: url("../fonts/Geometria-Regular.woff") format("woff");
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}

a, button {
  cursor: url(../images/decorative/cursor.png) 43 43, pointer;
}
a:hover button:hover {
  cursor: url(../images/decorative/cursor.png) 43 43, pointer;
}

html {
  font-size: 16px;
  font-family: Geometria;
  letter-spacing: -0.05em;
}
@media screen and (max-width: 1024px) {
  html {
    font-size: 14px;
  }
}

.person {
  display: flex;
  background-image: url(../images/decorative/mandala-top-right.svg);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 20%;
  width: 70%;
  margin: 0 auto 5rem;
}
@media screen and (max-width: 1600px) {
  .person {
    width: 90%;
  }
}
@media screen and (max-width: 1024px) {
  .person {
    width: 100%;
  }
}
.person__main {
  width: 40%;
}

.person__column {
  box-sizing: border-box;
  padding: 5rem 0 0 5rem;
  width: 50%;
}

.person__img {
  width: 100%;
}

.person__name {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
}
.person__description {
  margin: .5rem 0;
  font-size: 1rem;
}
.person__profession {
  font-size: 1rem;
  margin: .625rem 0 2.5rem;
}

.person__link {
  margin: .5rem 0;
  cursor: pointer;
  color: #000000;
  display: block;
}

.person__link:visited {
  color: initial;
}

@media screen and (max-width: 1439px) {
  .person__column {
    padding: 3rem 0 0;
  }
  .person {
    justify-content: space-between;
  }
}

@media screen and (max-width: 1023px) {
  .person__main {
    width: 45%;
  }
}

@media screen and (max-width: 768px) {
  .person {
    flex-direction: column-reverse;
    background-size: 30%;
  }
  .person__column {
    width: 100%;
  }
  .person__main {
    width: 100%;
  }
  .person__img {
    width: 50%;
    margin: 1rem 25% 0;
  }
}

@media screen and (max-width: 768px) {
  .person__img {
    width: 80%;
    margin: 1rem 10% 0;
  }
}