.button {
  font-size: .875rem;
  border: 1px solid #000000;
  border-radius: 75%;
  box-sizing: border-box;
  padding: 0.375rem 2.375rem;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  background-color: transparent;
}
@media screen {
  .button:hover {
    background-color: #000000;
    color: #ffffff;
  }
}
@media (max-width: 600px) {
  .button {
    padding: 0.375rem 1.25rem;
  }
}

.button_booking {
  margin: 1rem auto;
}