@import url(./body/body.css);
@import url(./container-horizontal/container-horizontal.css);
@import url(./header.css);
@import url(./popup/popup.css);
@import url(./button.css);
@import url(./section/section.css);
@import url(./root/root.css);
@import url(./span/span.css);
@import url(./scroll/scroll.css);
@import url(./footer/footer.css);
@import url(./mixins/mixins.css);
@import url(./bread-crumbs/bread-crumbs.css);
@import url(./heading/heading.css);

@font-face {
  font-family: Geometria;
  font-style:  normal;
  font-weight: 700;
  src: url("../fonts/Geometria-Bold.woff") format("woff");
}
@font-face {
  font-family: Geometria;
  font-style:  normal;
  font-weight: 400;
  src: url("../fonts/Geometria-Regular.woff") format("woff");
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}

a, button {
  cursor: url(../images/decorative/cursor.png) 43 43, pointer;
}
a:hover button:hover {
  cursor: url(../images/decorative/cursor.png) 43 43, pointer;
}

html {
  font-size: 16px;
  font-family: Geometria;
  letter-spacing: -0.05em;
}
@media screen and (max-width: 1024px) {
  html {
    font-size: 14px;
  }
}

.contacts {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
}

.contacts__column {
  width: fit-content;
}
.contacts__column:nth-of-type(2){
  margin: 0 3rem;
}

.contacts__item {
  margin-top: 3rem;
}

.contacts__item_mobile {
  display: none;
}
.contacts__heading {
  margin-top: 3rem;
}
.contacts__social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 800px) {
  .contacts {
    justify-content: space-evenly;
  }
  .contacts__item_desctop {
    display: none;
  }
  .contacts__item_mobile {
    display: block;
  }
  .contacts__item_height {
    min-height: 5.375rem;
  }
  .contacts__column:nth-of-type(2){
    margin: 0;
  }
  .contacts__item {
    margin-top: 1.5rem;
  }
  .contacts__item_height {
    min-height: fit-content;
  }
}
.contacts__type {
  font-size: 1rem;
  color: #808080;
}

@media (max-width: 516px) {
  .contacts {
    flex-wrap: wrap;
    margin-top: 1rem;
  }
  .contacts {
    justify-content: space-between;
  }
  
}

.contacts__link {
  font-size: 1.125rem;
  text-decoration: none;
  color: #000000;
  width: fit-content;
  margin-right: 1rem;
}
.contacts__:visited {
  color: #000000;
}
.contacts__link:hover {
  color: #F79E1B;
  text-decoration: underline;
  cursor: pointer;
}

.contacts__value {
  font-size: 1.125rem; 
  margin: 0;
}

.way {
  display: flex;
  justify-content: space-between;
}

.way__container {
  width: 45%;
}

.way__title {
  font-size: 1.125rem;
}

.way__video {
  width: 100%;
  height: 540px;
  background-color: #EAEAEA;
}

.contacts__form {
  width: 434px;
  margin: 0 auto 6.625rem;
}

@media (max-width: 500px) {
  .contacts__form {
    width: 80%;
  }
}