@media screen {
  header a, button {
    cursor: url(../images/decorative/cursor.png) 43 43, pointer;
  }
  header a:hover button:hover {
    cursor: url(../images/decorative/cursor.png) 43 43, pointer;
  }
}

.header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  z-index: 3;
  color: #000000;
  max-width: 100vw;
}
.header_white {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.header_transparent {
  position: static;
  background-color: transparent;
}
.logo__img {
  height: 53px;
  margin-right: .5rem;
}

@media (max-width: 768px) {
  .logo__img {
    height: 40px;
  }
}

.header__menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.header__menu_opened {
  position: fixed;
  top: 5.25rem;
  left: 0;
  background: #ffffff;
  z-index: 3;
}

.nav {
  padding: 0;
  margin: 0;
}

.nav__list {
  list-style-position: inside;
  padding: 0;
  margin: 0;
  display: flex;
  align-content: center;
  align-items: center;
  height: 100%;
  /* width: fit-content; */
}

@media (max-width: 768px) {
  .header__nav  {
    display: none;
  }
}

.header__nav_opened {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 1.5rem 3rem;
  /* width: fit-content; */
}

@media (min-width: 1025px) {
  .header__nav_opened   {
    display: none;
  }
}

.header__link {
  margin: 1.5rem 0 0;
  height: 100%;
  font-style: normal;
  font-weight: 500;
  font-size: .875rem;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  color: inherit;
}
.header__item_dropdown:hover {
  color: #F79E1B;
}

@media (max-width: 1025px) {
  .header__link   {
    font-size: .75rem;
  }
  .header {
    padding-top: 1rem;
  }
}
.header__item {
  list-style-type: none;
  margin: 0 1rem;
  height: 100%;
}

@media (max-width: 768px) {
  .header__item  {
    /* width: 100%; */
    margin: 0;
  }
  .header__link {
    font-size: 1.25rem;
  }
}

.logo__text {
  font-weight: bold;
  font-size: .875rem;
  text-decoration: none;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.header__link:visited {
  color: inherit;
}
@media (max-width: 768px) {
  .header__item {
    margin: .5rem 0;
    /* border-bottom: 1px solid #000000; */
  }
}
.header__link_active {
  color: inherit;
  border-bottom: 1px solid;
}
.header__link_active:visited {
  color: inherit;
}
.header__button {
  margin-top: 1rem;
}
@media (max-width: 1024px) {
  .header__button {
    font-size: .75rem;
  }
}

.header__item_dropdown {
  position: relative;
}
.drop {
  display: none;
}
.drop .header__link {
  margin-top: 1rem;
}
@media screen and (min-width: 768px) {
  .header__item_dropdown:hover .drop {
    display: block;
    position: absolute;
    top: 3.5rem;
    left: -2rem;
    z-index: 2;
    box-sizing: border-box;
    padding: 1rem 2rem;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #000000;
    color: #000000;
  }
}
@media (max-width: 768px) {
  .header__link {
    height: auto;
    margin: 0;
  }
  .header__item {
    height: auto;
  }
  .nav__list {
    height: auto;
  }
  .header__menu {
    height: auto;
  }
  .drop {
    display: block;
    position: static;
    margin-left: 1rem;
  }
}
.header__icon {
  display: none;
  border: none;
  background-color: transparent;
}
@media (max-width: 768px) {
  .header__icon {
    display: block;
  }
}

.header__back {
  height: 112px;
}
@media (max-width: 1025px) {
  .header__back {
    height: 82px;
  }
}

.header__link:hover {
  color: #F79E1B;
}

.header__tel {
  display: block;
  color: #000000;
  text-decoration: none;
  text-align: center;
  margin: .25rem auto 0;
  font-size: .75rem;
  cursor: pointer;
  width: fit-content;
}
.header__tel:hover {
  color: #F79E1B;
  text-decoration: underline;
}

/* @media (max-width: 768px) {
  .header__tel {
    display: inline;
    font-size: 1rem;
    margin-left: 1rem;
  }
} */