@font-face {
  font-family: Geometria;
  font-style:  normal;
  font-weight: 700;
  src: url("../fonts/Geometria-Bold.woff") format("woff");
}
@font-face {
  font-family: Geometria;
  font-style:  normal;
  font-weight: 400;
  src: url("../fonts/Geometria-Regular.woff") format("woff");
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}

a, button {
  cursor: url(../images/decorative/cursor.png) 43 43, pointer;
}
a:hover button:hover {
  cursor: url(../images/decorative/cursor.png) 43 43, pointer;
}

html {
  font-size: 16px;
  font-family: Geometria;
}
@media screen and (max-width: 1024px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 425px) {
  html {
    font-size: 12px;
  }
}
@media (max-width: 320px) {
  html {
    font-size: 10px;
  }
} 
.root {
  box-sizing: border-box;
  padding: 0 9.375rem;
}
@media (max-width: 1300px) {
  .root {
    padding: 0 40px;
  }
}
@media (max-width: 390px) {
  .root {
    padding: 0 16px;
  }
}

.section {
  padding-top: 5.125rem;
  padding-bottom: 5.125rem; 
}
@media (max-width: 1300px) {
  .section {
    padding-top: 40px;
    padding-bottom: 40px; 
  }
}
@media (max-width: 390px) {
  .section {
    padding-top: 16px;
    padding-bottom: 16px; 
  }
}

@import url(./popup/popup.css);

.body {
  margin: 0;
  width: 100%;
  position: relative;
}

.header {
  padding-top: 2rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  z-index: 3;
  color: #000000;
  background-color: #ffffff;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.logo__img {
  height: 53px;
  margin-right: .5rem;
}
@media (max-width: 1023px) {
  .logo__img {
    margin-left: 1rem;
  }
}
@media (max-width: 768px) {
  .logo__img {
    height: 40px;
  }
}

.container-horizontal {
  display: flex;
  align-items: center;
}

.header__menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__menu_opened {
  position: fixed;
  top: 5.875rem;
  left: 0;
  background-color: #ffffff;
}

.nav {
  padding: 0;
  margin: 0;
}

.nav__list {
  list-style-position: inside;
  padding: 0;
  margin: 0;
  display: flex;
  align-content: center;
  align-items: center;
  width: fit-content;
}

@media (max-width: 768px) {
  .header__nav  {
    display: none;
  }
}

.header__nav_opened {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 1.5rem 3rem;
  width: fit-content;
}

@media (min-width: 1025px) {
  .header__nav_opened   {
    display: none;
  }
}

.header__link {
  font-style: normal;
  font-weight: 500;
  font-size: .875rem;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  color: inherit;
}

@media (max-width: 1025px) {
  .header__link   {
    font-size: .75rem;
  }
}
.header__item {
  list-style-type: none;
  margin: 0 1rem;
}

@media (max-width: 768px) {
  .header__item  {
    width: 100%;
    margin: 0;
  }
  .header__link {
    font-size: 1.25rem;
  }
  .header__link:hover {
    background-color: #C9C9C9;
  }
}

.logo__text {
  font-weight: bold;
  font-size: .875rem;
  text-decoration: none;
  text-transform: uppercase;
}

.header__link:visited {
  color: inherit;
}
@media (max-width: 768px) {
  .header__item {
    margin: .5rem 0;
    border-bottom: 1px solid #000000;
  }
}
.header__link_active {
  color: inherit;
  border-bottom: 1px solid;
}
.header__link_active:visited {
  color: inherit;
}

.button {
  font-size: .875rem;
  border: 1px solid #000000;
  border-radius: 75%;
  box-sizing: border-box;
  padding: 0.375rem 2.375rem;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  background-color: #ffffff;
}
.header__button {
  display: inline;
}
@media (max-width: 1024px) {
  .header__button {
    font-size: .75rem;
    padding: 0.375rem 1.5rem;
  }
}

.button:hover {
  background-color: #000000;
  color: #ffffff;
}
.button_desabled {
  background-color: #ffffff;
  color: gray;
}
.button_desabled:hover { 
  background-color: #ffffff;
  color: gray;
}

@media (max-width: 600px) {
  .button {
    padding: 0.375rem 1.25rem;
  }
}

.span {
  display: block;
  font-weight: normal;
}

.header__icon {
  display: none;
  background-color: #ffffff;
  border: none;
}
@media (max-width: 768px) {
  .header__icon {
    display: block;
  }
}

.cower {
  margin-top: 8rem;
  display: flex;
  position: relative;
}

.cower__column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 564px;
  margin-left: 4.75rem;
}

.cower__text {
  font-size: 1.125rem;
  margin: .5rem 0;
  letter-spacing: -0.05em;
  text-align: justify;
  width: 40%;
}

.cower__title {
  text-transform: uppercase;
  color: #000000;
  font-size: 5rem;
  margin: 0;
  letter-spacing: -0.05em;
  line-height: 5rem;
}

@media (max-width: 1116px) {
  .cower__title {
    font-size: 4.5rem;
  }
}

@media (max-width: 900px) {
  .cower__title {
    font-size: 4rem;
  }
  .cower__text {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .cower__title {
    text-align: center;
  }
  .cower__text {
    text-align: center;
  }
}

.cower__span {
  color: #ffffff;
  text-shadow: 1px 1px #000000, 1px -1px #000000, -1px 1px #000000, -1px -1px #000000, 0 0 0 rgba(0,0,0,.5);
  display: block;
}

.scroll {
  position: absolute;
  top: 25vh;
  right: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rotate {
  animation: spin 5s infinite linear;
}

/* SLIDER */

.slider {
  position: relative;
  max-width: 495px;
  max-height: 564px;
}

.slider__images {
  list-style-type: none;
  list-style-position: inside;
  padding: 0;
  width: 495px;
  height: 564px;
}

.slider__item {
  position: relative;
  display: none;
}

.slider__img {
  width: 495px;
  height: 564px;
  object-fit: cover;
  filter: brightness(50%);
  display: inherit;
}

.slider__part-img {
  width: 80px;
  height: 360px;
  position: fixed;
  right: 200px;
  top: 35vh;
  object-position: center;
  object-fit: cover;
}

.slider__text {
  font-size: 1.125rem;
  color: #ffffff;
  position: absolute;
  left: 2.5rem;
  bottom: 5.75rem;
  margin: 0;
  z-index: 2;
  display: inherit;
}

.slider__title {
  font-size: 2.25rem;
  color: #ffffff;
  position: absolute;
  left: 2.5rem;
  bottom: 2.5rem;
  margin: 0;
  z-index: 2;
  display: inherit;
}

@media (max-width: 1439px) {
  .slider__img, .slider__images {
    width: 396px;
    height: 452px;
  }
  .cower__column {
    height: 452px;
    margin-left: 2rem;
  }
  .slider__part-img {
    right: 150px;
    height: 288px;
  }
  .slider__title {
    font-size: 2rem;
    left: 2rem;
    bottom: 2rem;
    margin: 0;
  }
  .slider__text {
    font-size: 1rem;
    left: 2rem;
    bottom: 4.75rem;
  }
}

@media (max-width: 1024px) {
  .slider__img, .slider__images {
    width: 356px;
    height: 406px;
  }
  .cower__column {
    height: 406px;
  }
}

.slider__item {
  display: none;
}
.current {
  display: block;
}
.prev_slide {
  display: none;
  clip: rect(0, 0, 50rem, 0);
}

@media (max-width: 768px) {
  .cower {
    flex-direction: column;
  }
  .cower__column {
    height: fit-content;
    margin: 0;
  }
  .slider {
    width: 356px;
    margin: auto;
  }
}

@media (max-width: 450px) {
  .slider__img, .slider__images {
    width: 285px;
    height: 324px;
  }
  .slider {
    width: 285px;
    margin: auto;
  }
}

@media (max-width: 350px) {
  .slider__img, .slider__images {
    width: 256px;
    height: 291px;
  }
  .slider {
    width: 256px;
    margin: auto;
  }
}
@media (max-width: 900px) {
  .scroll {
    display: none;
  }
  .slider__part-img {
    display: none;
  }
}

.slider__caption {
  display: flex;
  justify-content: space-between;
}

.slider__container {
  display: flex;
  align-items: center;
}

.slider__icon {
  margin-right: 1.5rem;
}

.slider__number {
  font-weight: bold;
  font-size: 1.125rem;
}

.slider__progress {
  margin: 0 .5rem;
  display: flex;
}

.hidden {
  display: none;
}

.main-nav__heading {
  margin-top: 5rem;
  font-size: 1.125rem;
}
@media (max-width: 900px) {
  .main-nav__heading  {
    margin: 0;
  }
}
/* MAIN NAV */
.main-nav__link {
  font-size: 4.5rem;
  text-decoration: none;
  color: #ffffff;
  text-shadow: 1px 1px #000000, 1px -1px #000000, -1px 1px #000000, -1px -1px #000000, 0 0 0 rgba(0,0,0,.5);
}
@media (max-width: 1439px) {
  .main-nav__link {
    font-size: 3.5rem;
  }
}
@media (max-width: 1024px) {
  .main-nav__link {
    font-size: 3rem;
  }
}
@media (max-width: 768px) {
  .main-nav__link {
    font-size: 2rem;
  }
}

.divider {
  width: 100%;
}

/* infographics */

.infographics {
  background-color: #F4F4F6;
}

.infographics__title {
  font-size: 3rem;
  font-weight: bold;
  max-width: 60%;
  margin-top: 5%;
  margin-bottom: 0;
}

.infographics__container {
  display: flex;
  justify-content: space-between;
  padding-top: 8.125rem;
  padding-bottom: 8.125rem;
}

.infographics__card {
  width: 25%;
  margin-right: 7rem;
}

.infographics__subtitle {
  margin: 0 0 1.25rem;
}

.infographics__text {
  margin: 0;
  text-align: justify
}

@media (max-width: 1439px) {
  .infographics__container {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .infographics__card {
    width: 30%;
    margin-right: 3.5rem;
  }
}

@media (max-width: 1024px) {
  .infographics__subtitle {
    min-height: 3rem;
  }
}

@media (max-width: 768px) {
  .infographics__title {
    font-size: 2rem;
    max-width: 100%;
    text-align: center;
    margin: 1rem 0;
  }
  .infographics__subtitle {
   text-align: center;
  }
  .infographics__container {
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .infographics__card {
    width: 100%;
    margin: .5rem 0;
  }
  .infographics__subtitle {
    min-height: 1.5rem;
  }
  .infographics__img {
    margin: 0 50%;
  }
}

.infographics__card:last-of-type {
  margin-right: 0;
}

/* TITLE */

.title {
  position: relative;
}
.title__text {
  color: #000000;
  margin: 0;
  position: absolute;
  top: 3.75rem;
  left: 3.125rem;
  font-size: 1.125rem;
  font-weight: bold;
}

.title__shadow {
  color: #ffffff;
  text-shadow: 1px 1px #C9C9C9, 1px -1px #C9C9C9, -1px 1px #C9C9C9, -1px -1px #C9C9C9, 0 0 0 rgba(0,0,0,.5);
  font-size: 4.5rem;
  margin: 0;
}

@media (max-width: 768px) {
  .title__shadow {
    font-size: 3rem;
  }
  .title__text {
    font-size: 1rem;
    top: 2.25rem;
    left: 2.25rem;
  }
}

/* PARTNERS */

.partners {
  display: flex;
  justify-content: space-around;
  margin: 2.75rem 0 7.5rem;
}
.partners__logo {
  max-width: 168px;
  object-fit: contain;
  margin: 1rem;
}
@media (max-width: 768px) {
  .partners {
    flex-wrap: wrap;
    justify-content: center;
    margin: 2.75rem 0;
  }
  .partners__logo {
    margin: 1rem 3.5rem;
  }
}
@media (max-width: 600px) {
  .partners__logo {
    margin: 1rem 2.5rem;
  }
}
@media (max-width: 575px) {
  .partners {
    flex-direction: column;
    align-items: center;
  }
}

.tiles {
  position: relative;
  overflow: visible;
}
@media (max-width: 768px) {
  .tiles {
    overflow: hidden;
    width: 100%;
  }
}
.tiles--columns-rotated {
	--tiles-height: 180vmax;
}

.tiles--columns {
	--tiles-height: 140vh;
}

.tiles--oneline {
	min-height: 218px;
	margin: 72px 0 0;
}

.tiles--small {
	--tiles-height: 100px;
	margin: 10vh 0 0;
}

.tiles--fixed {
	--tiles-height: 65vw;
	margin-top: 25vh;
}

.tiles--perspective {
	overflow: visible;
	perspective: 1000px;
	--tiles-height: 500px;
}

.tiles__wrap {
	width: 100%;
	--tileswrap-height: var(--tiles-height);
	height: var(--tileswrap-height);
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate3d(-50%,-50%, 0);
}

.tiles--rotated .tiles__wrap {
	--tileswrap-height: calc(var(--tiles-height) * 1.8);
	transform: translate3d(-50%,-50%, 0) rotate(22.5deg);
}

.tiles--columns-rotated .tiles__wrap {
	width: 100%;
	display: flex;
	transform: translate3d(-50%,-50%,0) rotate(-22.5deg);
	left: 50%;
	top: 50%;
	align-items: center;
	justify-content: center;
}
@media (max-width: 768px) {
.tiles--columns-rotated .tiles__wrap {
	align-items: flex-start;
	justify-content: flex-start;
  }
}

.tiles--columns .tiles__wrap {
	width: 100%;
	display: flex;
	--tileswrap-height: calc(var(--tiles-height) * 1.4);
	transform: translate3d(0,-50%,0);
	left: 0;
	top: 50%;
}

.tiles--perspective .tiles__wrap {
	width: 100%;
    transform: translate3d(-50%,-50%,0) translateX(-25%) translateZ(-1200px) rotateX(75.5deg) rotateZ(12deg);
}

.tiles--fixed .tiles__wrap {
	width: 100%;
}

.tiles__line {
	display: flex;
  justify-content: center;
}
@media (max-width: 768px) {
  .tiles__line {
    align-items: flex-start;
    justify-content: flex-start;
  }
}

.tiles--columns .tiles__line {
	width: 25%;
	padding: 0 1rem;
	display: block;
}

.tiles--columns-rotated .tiles__line {
	width: 320px;
	flex: none;
	padding: 0 1.5vw;
	display: block;
}

.tiles--columns-rotated .tiles__line:nth-child(even) {
	margin-top: -160px;
}

.tiles--oneline .tiles__line {
	height: 218px;
}

.tiles--small .tiles__line {
	height: 218px;
}

.tiles__line-img {
	--tile-margin: 100px;
	flex: none;
	width: 385px;
	height: 218px;
	background-size: contain;
	background-position: 50% 50%;
  background-repeat: no-repeat;
}
.tiles__line-img:nth-of-type(1){
  background-image: url(../images/media/media-01.jpg);
}
.tiles__line-img:nth-of-type(2) {
  background-image: url(../images/media/media-02.jpg);
}
.tiles__line-img:nth-of-type(3) {
  background-image: url(../images/media/media-03.jpg);
}
.tiles__line-img:nth-of-type(4) {
  background-image: url(../images/media/media-04.jpg);
}
.tiles__line-img.row2:nth-of-type(1) {
  background-image: url(../images/media/media-05.jpg);
}
.tiles__line-img.row2:nth-of-type(2) {
  background-image: url(../images/media/media-06.jpg);
}
.tiles__line-img.row2:nth-of-type(3) {
  background-image: url(../images/media/media-07.jpg);
}
.tiles__line-img.row2:nth-of-type(4) {
  background-image: url(../images/media/media-08.jpg);
}

.tiles--perspective .tiles__line-img {
	backface-visibility: hidden;
	outline: 1px solid transparent;
	--tile-margin: 1vw;
	width: calc(16.6666% - var(--tile-margin) * 2);
	height: calc(16.666vw * 1.3);
}

.tiles--oneline .tiles__line-img {
	margin: 0 50px;
	height: 100%;
}
@media (max-width: 768px) {
  .tiles--oneline .tiles__line-img {
    margin: 1rem;
    width: 100%;
  }
}
.tiles--small .tiles__line-img {
	--tile-margin: 5px;
	margin: 0 var(--tile-margin);
	width: calc(12.5% - var(--tile-margin) * 2);
	height: 100%;
}

.tiles--rotated .tiles__line-img {
	--tile-margin: 1vw;
	width: calc(16.6666% - var(--tile-margin) * 2);
	height: calc( var(--tileswrap-height) / 5 - (4 * var(--tile-margin) / 2));
}

.tiles--columns-rotated .tiles__line-img {
	--tile-margin: 3vw 0;
	width: 100%;
	height: 400px;
}

.tiles--columns .tiles__line-img {
	--tile-margin: 2rem 0;
	width: 100%;
	height: calc(25vw * 1.3);
}

.tiles--fixed .tiles__line-img {
	--tile-margin: 10px;
	filter: brightness(0.8);
	width: calc(16.6666% - var(--tile-margin) * 2);
	height: calc( var(--tileswrap-height) / 3 - (3 * var(--tile-margin) / 2));
}

.tiles--darker .tiles__line-img {
	opacity: 0.7;
}


/* FOOTER */
.footer__row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}
.footer__row_low {
  border-top: 1px solid #E4E4E4;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
@media (max-width: 650px) {
  .footer__row_low {
    flex-direction: column;
    align-items: center;
  }
}

.footer__column {
  color: #C9C9C9;
}
.footer__column_right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer__links {
  display: flex;
}
@media (max-width: 900px) {
  .footer__links {
    flex-direction: column;
  }
}

@media (max-width: 850px) {
  .footer__row_top > .container-horizontal{
    display: none;
  }
  .footer__row_top {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  }
}

.footer__social {
  cursor: pointer;
}

.footer__link {
  width: fit-content;
  color: inherit;
  font-size: .875rem;
  text-decoration: none;
  display: block;
  margin: .375rem 0;
  cursor: pointer;
}
.footer__link:last-of-type {
  margin: .375rem 0 0 0;
}
.footer__link:visited {
  color: inherit;
}
.footer__link:hover {
  color: #F79E1B;
  text-decoration: underline;
}

@media (max-width: 750px) {
  .footer__column_right {
    margin-top: 1.5rem;
    width: 100%;
    align-items: center;
  }
  .footer__row_top {
    flex-wrap: wrap;
  }
  .footer__link {
    font-size: 1rem;
  }
}

.footer__icon {
  fill: black;
  margin: 10px 0 10px 16px;
}
.footer__icon:hover {
  fill: #F79E1B;
}
.crutch {
  height: 150px;
}

.bold {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
.black {
  color: #000000;
}

.body_overlay::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.5);
  z-index: 2;
}

.popup__label {
  font-size: .75rem;
}

.popup__container-horizontal {
  justify-content: space-between;
}

@media (max-width: 425px) {
  .popup__container-horizontal {
    flex-direction: column;
    align-items: flex-start;
  }
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}

.menu {
  display: flex;
  flex-direction: column;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	counter-reset: menucounter;
}

.menu__item {
	position: relative;
	text-decoration: none;
	z-index: 2;
  font-size: 4.5rem;
  margin: 1rem 0;
  width: fit-content;
  color: #ffffff;
  text-shadow: 1px 1px #000000, 1px -1px #000000, -1px 1px #000000, -1px -1px #000000, 0 0 0 rgba(0,0,0,.5);
}

@media (max-width: 768px) {
  .menu__item:nth-of-type(even) {
    color: #000000;
  }
}
@media (max-width: 1600px) {
  .menu__item {
    font-size: 3.5rem;
  }
}
@media (max-width: 1024px) {
  .menu__item {
    font-size: 3.25rem;
  }  
}
@media (max-width: 768px) {
  .menu__item {
    font-size: 3rem;
    margin: 1.5rem 0;
  }  
}
@media (max-width: 700px) {
  .menu__item {
    font-size: 2.5rem;
    margin: 1rem 0;
  }  
}
.menu__item:nth-of-type(odd) {
  align-self: flex-start;
}
.menu__item:nth-of-type(even) {
  align-self: flex-end;
}

@media (max-width: 768px) {
  .menu__item:nth-of-type(odd) {
    align-self: center;
    text-align: center;
  }
  .menu__item:nth-of-type(even) {
    align-self: center;
    text-align: center;
  }
}
.menu__item::before {
	counter-increment: menucounter;
	content: counters(menucounter, ".", decimal-leading-zero);
	position: absolute;
	left: -2.5rem;
	top: 3.125rem;
  color: #000000;
	height: 60%;
	line-height: 1;
	font-weight: bold;
	opacity: 0;
	transform: translateX(-1rem);
	transition: transform 0.3s, opacity 0.3s;
	font-size: 1.5rem;
}

.menu__item-text {
  width: fit-content;
	position: relative;
  text-decoration: none;
	overflow: visible;
  color: inherit;
}

@media (min-width: 768px) {
  .menu__item-text:hover {
    min-height: 185px;
    box-sizing: border-box;
    padding: 50px 0 0;
    color: #000000;
    background-image: url(../images/decorative/Ellipse5.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top 1rem left 75px;
  }
  .menu__item:hover::before {
    color: #000000;
    opacity: 1;
    transform: translateX(0);
  }
}
  .hover-reveal {
    position: absolute;
    z-index: -1;
    width: 363px;
    height: 488px;
    top: 0;
    left: 0;
    pointer-events: none;
    opacity: 0;
    will-change: transform, filter;
  }


@media screen {
  .hover-reveal__inner {
    overflow: hidden;
  }
}
@media screen {
  .hover-reveal__inner,
  .hover-reveal__img {
    width: 100%;
    height: 100%;
    position: relative;
  }
}

@media screen {
  .hover-reveal__img {
    background-size: cover;
    background-position: 50% 50%;
  }
}
html.has-scroll-smooth {
  overflow: hidden; }

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.has-scroll-smooth body {
  overflow: hidden; }

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh; }

[data-scroll-direction="horizontal"] [data-scroll-container] {
  white-space: nowrap;
  height: 100vh;
  display: inline-block;
  white-space: nowrap; }

[data-scroll-direction="horizontal"] [data-scroll-section] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%; }

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0; }
  .c-scrollbar:hover {
    transform: scaleX(1.45); }
  .c-scrollbar:hover, .has-scroll-scrolling .c-scrollbar, .has-scroll-dragging .c-scrollbar {
    opacity: 1; }
  [data-scroll-direction="horizontal"] .c-scrollbar {
    width: 100%;
    height: 10px;
    top: auto;
    bottom: 0;
    transform: scaleY(1); }
    [data-scroll-direction="horizontal"] .c-scrollbar:hover {
      transform: scaleY(1.3); }

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab; }
  .has-scroll-dragging .c-scrollbar_thumb {
    cursor: -webkit-grabbing;
    cursor: grabbing; }
  [data-scroll-direction="horizontal"] .c-scrollbar_thumb {
    right: auto;
    bottom: 0; }