.scroll {
  position: absolute;
  top: 25vh;
  right: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rotate {
  animation: spin 5s infinite linear;
}

@media (max-width: 900px) {
  .scroll {
    display: none;
  }
}
