.popup__close {
  width: 40px;
  position: absolute;
  top: -46px;
  right: -46px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .popup__close {
    width: 26px;
    top: -30px;
    right: 0;
  }
}