.program {
  display: flex;
  justify-content: space-between;
}

.program__description {
  max-width: 45%;
}
@media (max-width: 1439px) {
  .program__description {
    max-width: 50%;
  }
  .program {
    justify-content: space-between;
  }
}

.program__infographic-item {
  display: flex;
}

.program__text {
  font-size: 1.5rem;
  margin: 0 0 1rem;
}

.program__text:last-of-type {
  margin: 0 0 2rem;
}

.program__paragraph {
  font-size: 1.125rem;
  margin: 0 0 1rem;
}

.program__infographics {
  width: 40%;
  height: fit-content;
  display: grid;
  grid-template-columns: 45% 45%;
  grid-column-gap: 5%;
  grid-row-gap: 1.875rem;
}
@media (max-width: 1300px) {
  .program__description {
    max-width: 70%;
  }
  .program__infographics {
    width: 20%;
    grid-template-columns: 90%;
  }
}
.program__icon {
  width: 25px;
  height: 25px;
  margin-right: 15px;
}

.program__param {
  font-size: 1rem;
  margin: 0;
}

@media (max-width: 768px) {
  .program__text {
    font-size: 1.25rem;
  }
  .program__paragraph {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .program {
    flex-direction: column-reverse;
  }
  .program__infographics {
    margin: 0;
    width: 100%;
    grid-template-columns: 45% 45%;
    grid-column-gap: 10%;
  }
  .program__description {
    max-width: 100%;
    margin-top: 2rem;
    text-align: justify;
  }
}

.media {
	object-fit: cover;
	max-height: 262px;
	margin: 3rem 0;
	cursor: url(../../images/decorative/cursor.png) 43 43, pointer;
}

.media:hover {
	transform: rotate(-5deg);
}

.swiper-container#media {
	margin: 3rem 0 !important;
}

:root {
	--swiper-theme-color: black !important;
}